<div class="header">
    <div class="logo"><p>KIRATY</p></div>
    <div class="navlink">
        <nav>
            <a href="home_page.html">Home</a> |
            <a href="gold_prices_page.html">Prices</a> |
            <a href="my_assests.html">My Assets</a> |
            <a href="news.html">News</a>
        </nav>
    </div>
    <div class="currency">
        <button class="selected">USD</button>
        <button>JOD</button>
    </div>
    <div class="login">
        <button class="loginbutton">Login</button>
        <button>CREATE ACCOUNT</button>
    </div>
</div>