<div class="header">
    <div class="logo"><p>KIRATY</p></div>
    <div class="navlink">
        <nav>
            <a href="/gold-asset-tracker/index.html">Home</a> |
            <a href="/gold-asset-tracker/html/myAssets.html">My Assets</a> |
            <a href="/gold-asset-tracker/html/news.html">News</a>
        </nav>
    </div>
    <div class="currency">
        <button id="dollar" class="selected">USD</button>
        <button id="jod">JOD</button>
    </div>
    <div class="show" id="show">
        <div class="login" id="login">
            <button class="loginbutton">Login</button>
            <button>CREATE ACCOUNT</button>
        </div>
    </div>
</div>